/* Background */
body {
    margin: 0;
    padding: 30px;
    font-family: "Trebuchet MS", Arial, sans-serif;
    background: linear-gradient(to right, #d7f9e9, #f5fff8);
    color: #222;
}

/* Main content box */
.container {
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.25);
}

/* Main title */
h1 {
    text-align: center;
    color: #006400;
    font-size: 42px;
    text-shadow: 2px 2px 6px #90ee90;
    border-bottom: 4px solid #00a86b;
    padding-bottom: 12px;
}

/* Section headings */
h2 {
    color: white;
    background: linear-gradient(to right,#006400,#00a86b);
    padding: 12px;
    border-radius: 10px;
    font-size: 28px;
}

/* Paragraphs */
p {
    font-size: 20px;
    line-height: 1.9;
    text-align: justify;
    color: #333;
}

/* Bold text */
strong {
    color: #0b5d1e;
}

/* Navigation bar */
nav {
    background: #004d40;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

/* Images */
img {
    display: block;
    margin: 25px auto;
    width: 70%;
    border-radius: 15px;
    border: 5px solid #008000;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
}

/* Footer */
footer {
    margin-top: 40px;
    background: #004d40;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}
